{% extends "base.html" %}

{% block title %} &ndash; {{ page.title }}{% endblock %}

{% block content %}
<article>
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  
  <!-- intro text from the page content -->
  <div>
    {{ page.content }}
  </div>
  
  <!-- Automatically list all articles from 'projects' category -->
  {% for article in articles %}
    {% if article.category.name == 'projects' %}
    <header style="margin-top: 30px;">
      <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <p>
        Posted on {{ article.locale_date }}
        {% if article.tags %}
            &#8226; Tagged with
            {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
        {% endif %}
      </p>
    </header>
    <div>
        {% if article.summary %}
        {{ article.summary }}
        {% endif %}
          <br>
          <a class="btn" href="{{ SITEURL }}/{{ article.url }}">Continue reading</a>
    </div>
    {% endif %}
  {% endfor %}
</article>
{% endblock %}